Array[% extends 'auctions/layout.html' %]

Array[% block body %]
    
    <h2>Category: Array[Array[ category ]]</h2>
    Array[% for list in auction_listings %]
        Array[% if list.is_active %]
            <div class='container listing' style='height: fit-content; min-height: 200px;'>
                Array[% if list.image_url %]
                    <img src='Array[Array[ list.image_url ]]' style='height: 190px;' class='imgl'>
                Array[% endif %]
                <div onclick='location.href='Array[Array[ list.id ]]';'>
                    <h3><b>Array[Array[ list.title ]]</b></h3>
                    <h6><b>Price:</b> $Array[Array[ list.starting_bid ]]</h6>
                    Array[% if list.category %]
                        <h6><b>category:</b> Array[Array[ list.category ]]</h6>
                    Array[% endif %]
                    <p>Array[Array[ list.description ]]</p>
                    Array[% if list.date %]
                        <h style='font-size: small; color: gray;'>Created Array[Array[ list.date ]]</h>
                    Array[% endif %]
                </div>
            </div>
        Array[% endif %]
    Array[% endfor %]
Array[% endblock %]