Array[% extends 'auctions/layout.html' %]

Array[% block body %]

    <h2>Login</h2>

    Array[% if message %]
        <div>Array[Array[ message ]]</div>
    Array[% endif %]

    <form action='Array[% url 'login' %]' method='post'>
        Array[% csrf_token %]
        <div class='form-group'>
            <input autofocus class='form-control' type='text' name='username' placeholder='Username'>
        </div>
        <div class='form-group'>
            <input class='form-control' type='password' name='password' placeholder='Password'>
        </div>
        <input class='btn btn-primary' type='submit' value='Login'>
    </form>

    Don't have an account? <a href='Array[% url 'register' %]'>Register here.</a>

Array[% endblock %]