{% extends "layout.html" %}

{% block body %}

    <h2>Login</h2>
    <style>
        .input_employee{
            min-width: 60%;
        }
    </style>
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endif %}
    <div class=" d-flex justify-content-center distance">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        
        <div class="form-group input_employee ">
        <label for="username" class="form-label"><b>Username (SSA)</b></label>
            <input autofocus class="form-control" type="text" id="username" name="username" placeholder="Username (SSA)">
        </div>
        <div class="form-group input_employee">
            <label for="password" class="form-label"><b>Password</b></label>

            <input class="form-control" id="password" type="password" name="password" placeholder="Password">
        </div>
    <div class=" d-flex justify-content-center distance">
        
        <input class="btn btn-dark " type="submit" value="Login">
        </div>
    </form>
</div>
    

{% endblock %}