{% extends "layout.html" %}



{% block body %}
<style>
    .checked {
        color: orange;
    }
</style>
    <h2><b>Hotel: {{ hotel.name }}</b></h2>
    {% if hotel.image_url %}
        <img src="{{ hotel.image_url }}" class="center">
    {% endif %}
    
    <b-form-rating v-model="value"></b-form-rating>
    <span class="fa fa-star {% if hotel.rating > 0 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if hotel.rating > 1 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if hotel.rating > 2 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if hotel.rating > 3 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if hotel.rating > 4 %} checked {% endif %}"></span>
    <h3 style="font-size: small; color: gray;">{{ hotel.chain_id.name }}</h3>
    <h6 style="font-size: small; color: gray;">Address: {{ hotel.address }} {{ hotel.zone }}</h6>
    <h6 style="font-size: small; color: gray;">Phone Number: {% for ntelephone in hotel.nTelephones %} {{ ntelephone }} {% if not forloop.last %}/{% endif %} {% endfor %}</h6>
    
    {% if message %}
        <h6 style="color: red;">{{ message }}</h6>
    {% endif %}
    {% if product.is_active %}
        <a>{{ count }} bid(s) so far.</a>
        {% if ishighest %}
            <a>Your bid is the current bid</a>
        {% endif %}
        <form action="{% url 'listing_product' product.id %}" method="post">
            {% csrf_token %}
            {% if Bid %}
                <input type="number" step="0.01" min="{{ Bid.bid }}" placeholder="Bid" name="bid" class="inp">
            {% else %}
                <input type="number" step="0.01" min="{{ product.starting_bid }}" placeholder="Bid" name="bid" class="inp">
            {% endif %}
            <input type="submit" value="Place Bid" class="placebid">
        </form>
    {% else %}
        <h4><b>Sold!
        {% if ishighest %}
         You Won
        {% endif %}
        </b></h4>
    {% endif %}
    <hr>
    <h4><b>Details</b></h4>
    <ul>
        <li>Listed by: {{ owner.ownerid }}</li>

        {% if product.category %}
            <li>category: {{ product.category }}</li>
        {% else %}
        <li>category: No Category Listed</li>

        {% endif %}
    </ul>
    <hr>
    {% if user.is_authenticated and product.is_active %}
        <form action="{% url 'comment' product.id %}" method="POST" style="padding-block-end: 50px;">
            {% csrf_token %}
            <input type="text" name="comment" maxlength="2000" placeholder="Comment" class="inp">
            <input type="submit" value="Send" class="placebid">
        </form>
        
    {% endif %}
    {% if comments %}
        <h3 style="padding-block-end: 20px;"><b>Comments:</b></h3>
        {% for comment in comments %}
            <div>
                <h5><b>{{ comment.user_id.username }}:</b></h5>
                <h6 style="color: gray; font-size: small">{{ comment.date }}</h6>
                    <div style="padding-left: 15px;">{{ comment.comment}}</div>
                <hr>
            </div>
        {% endfor %}
    {% endif %}
    
        
{% endblock %}