{% extends "layout.html" %}



{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
    .distance{
        padding: 10px;
    }
    .leftDistance{
        padding-left: 35px;
    }
</style>
    <h1><b>{{ hotel.name }}</b></h1>
    {% if hotel.image_url %}
        <img src="{{ hotel.image_url }}" class="center">
    {% endif %}
    
    <b-form-rating v-model="value"></b-form-rating>
    <div class="d-flex justify-content-center distance">
        <span class="fa fa-star {% if hotel.rating > 0 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if hotel.rating > 1 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if hotel.rating > 2 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if hotel.rating > 3 %} checked {% endif %}"></span>
    <span class="fa fa-star {% if hotel.rating > 4 %} checked {% endif %}"></span>
    </div>
    <h3><b>Reserve Room</b></h3>
    <h6 class = "leftDistance" style="font-size: small; color: gray;">  {{ hotel.chain_id.name }}</h6>
    <h6 class = "leftDistance" style="font-size: small; color: gray;">  Address: {{ hotel.address }} {{ hotel.zone }}</h6>
    <h6 class = "leftDistance" style="font-size: small; color: gray;">  Phone Number: {% for ntelephone in hotel.nTelephones %} {{ ntelephone }} {% if not forloop.last %}/{% endif %} {% endfor %}</h6>
    
    {% if step == 1%}
    <form action="{% url 'choose_room' 53 %}" method="post">
    {% csrf_token %}
    {% if capacities %}
    <h4><b>Capacity</b></h4>
        <div class="distance leftDistance" style="padding-left: 45px;">
       {% for capacity in capacities %}
        <input type="radio" class="btn-check" name="capacities"  value="{{capacity.id}}" id="capacity_{{capacity}}" autocomplete="off" >
        <label class="btn btn-outline-dark" for="capacity_{{capacity}}">{{capacity.capacity.title}}</label>
      {% endfor %}
    </div>
    <hr>
    {% endif %}
    {% if views %}
    <h4><b>View</b></h4>
      <div class="btn-group distance leftDistance" role="group" aria-label="Basic checkbox toggle button group  d-flex justify-content-center"></div>
       {% for view in views %}
       
        <input type="checkbox" name = "views" class="btn-check" id="view_{{view}}" value="{{view}}" autocomplete="off">
        <label class="btn btn-outline-dark " for="view_{{view}}">{{ view.title }}</label>
      
        {% endfor %}
     </div>
    <hr>
    {% endif %}
    {% if extrabed %}
    <h4><b>Extra bed</b></h4>
      <div class="btn-group distance leftDistance" role="group" aria-label="Basic checkbox toggle button group  d-flex justify-content-center"></div>
      
      <input type="checkbox" class="btn-check" id="extrabed" name = "extrabed" value = "True" autocomplete="off">
      <label class="btn btn-outline-dark " for="extrabed">Extra Bed</label>
    
      </div>
    <hr>
    {% endif %}
    {% if not capacities and not views and not extrabed %}
    <div class="alert alert-danger" role="alert">
        No Rooms Available
      </div>
    {% else %}
    <h4><b>Select Date</b></h4>
    <div class = "leftDistance">
      <div class="form-group row">
        <label for="startdate" class="col-sm-2 col-form-label">Start Date</label>
        <input id="startdate" name = "startdate" width="276" placeholder="Start Date" required/>
        <script>
            $('#startdate').datepicker({
                uiLibrary: 'bootstrap4'
            });
        </script>
      </div>
      
      <div class="form-group row">
        <label for="enddate" class="col-sm-2 col-form-label">End Date</label>
        <input id="enddate" name="enddate" width="276" placeholder="End Date" required/>
        <script>
            $('#enddate').datepicker({
                uiLibrary: 'bootstrap4'
            });
        </script>
      </div>
      
    </div>
    {% if errormessage %}
      <div class="alert alert-danger" role="alert">
        {{errormessage}}
      </div>
      {%endif%}
    <div class=" d-flex justify-content-center distance">
      <input class="btn btn-dark " style="width: 60%;" type="submit" value="Step 2">
    </div>
    {% endif %}
  </form>
  {%elif step == 2%}
  {% for room in rooms %}
  <div onclick="location.href='reserve={{ list.hotel_id }}';" class="container listing" style="height: fit-content; min-height: 200px; position: relative;">
    
        <div >
            <h3><b>{{ room.capacity }}</b></h3>
            {% if list.chain_id %}
            <h6 style="font-size: small; color: gray;">{{ list.chain_id.name }}</h6>
            {% endif %}
            <b-form-rating v-model="value"></b-form-rating>
            <span class="fa fa-star {% if list.rating > 0 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if list.rating > 1 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if list.rating > 2 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if list.rating > 3 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if list.rating > 4 %} checked {% endif %}"></span>
            <h6><b>Rate:</b> {{ room.price }}</h6>
            <h6 style="font-size: small; color: gray;">{{ list.zone }}</h6>
            <h6 style="font-size: small; color: gray;">Address: {% for view in room.view %} {{ view }} {% if not forloop.last %}/{% endif %} {% endfor %}</h6>
            <h6 style="font-size: small; color: gray;">Phone Number: {% for ntelephone in list.nTelephones %} {{ ntelephone }} {% if not forloop.last %}/{% endif %} {% endfor %}</h6>
            
        </div>
        
    </div>
  {% endfor%}
  {% endif %}
{% endblock %}