
<select class='select-toggle' multiple='multiple'>
    <option class='btn btn-dark'>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
</select>
<script>
    $('.select-toggle').each(function()Array[    
    var select = $(this), values = Array[];    
    $('option',select).each(function(i, option)Array[
        values[option.value] = option.selected;        
    ]).click(function(event)Array[        
        values[this.value] = !values[this.value];
        $('option',select).each(function(i, option)Array[            
            option.selected = values[option.value];        
        ]);    
    ]);
]);​
</script>