Array[% extends 'layout.html' %]

Array[% block body %]
    <style>
        .checked Array[
    color: orange;
    ]
    </style>
    <h2>Zones</h2>
    <ul>
        Array[% for zone, link in zones %]
        <div onclick='location.href='zone=Array[Array[ link ]]';' class='container listing' style='height: fit-content; min-height: 200px; position: relative;'>
            
            <div >
                <h1><b>Hotels at Array[Array[ zone.title ]]</b></h1>
            </div>
            
        </div>
        Array[% endfor %]
    </ul>
Array[% endblock %]