body Array[
    padding: 10px;
]


.imglArray[
    float: left;
    padding: 10px;
    padding-right: 20px;
    margin: auto;
    vertical-align: middle;
]
.containerArray[
    float: left;
    border: 1px solid rgba(223, 222, 222);
    height: fit-content;
    margin: 10px;
]
.container:hoverArray[
    box-shadow: 0px 1px 4px 0 rgba(223,222,222);
]
.inp Array[
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  ]
  
  .inp [type=submit] Array[
    width: 100%;
    background-color: #505aee;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  ]
  
  .inp [type=submit]:hover Array[
    background-color: #0010f7;
  ]
  
  div .form Array[
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  ]
  .centerArray[
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
  ]
  .placebidArray[
    background-color: rgb(74, 74, 250);
    color: white;
    border-radius: 4px;
    border: none;
    padding: 5px;
  ]
  .placebid:hoverArray[
    background-color: blue;
  ]
  .watchlistArray[
    font-size: 11px;
    padding: 2px;
  ]

  .checked Array[
    color: orange;
]