body {
    padding: 10px;
}


.imgl{
    float: left;
    padding: 10px;
    padding-right: 20px;
    margin: auto;
    vertical-align: middle;
}
.container{
    float: left;
    border: 1px solid rgba(223, 222, 222);
    height: fit-content;
    margin: 10px;
}
.container:hover{
    box-shadow: 0px 1px 4px 0 rgba(223,222,222);
}
.inp {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .inp [type=submit] {
    width: 100%;
    background-color: #505aee;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .inp [type=submit]:hover {
    background-color: #0010f7;
  }
  
  div .form {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
  }
  .placebid{
    background-color: rgb(74, 74, 250);
    color: white;
    border-radius: 4px;
    border: none;
    padding: 5px;
  }
  .placebid:hover{
    background-color: blue;
  }
  .watchlist{
    font-size: 11px;
    padding: 2px;
  }

  .checked {
    color: orange;
}